.container .head{
    position: relative; 
    color: #012970;
}

.container .head::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 340px;
    border-radius: 8px;
    background-color: #F37631;
}

.container .formulario{
    background-color: #fff;
    overflow: hidden;
}

.container form .title{
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 6px 0;
    color: #012970;
}

.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label{
    font-size: 15px;
    color: #012970;
}

input[type="file"] {
    display: none;
}

.file {
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;   
    background-color: #012970;
}

.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #012970;
    border-radius: 5px;
    border: 1px solid #012970;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field textarea{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #012970;
    border-radius: 5px;
    border: 1px solid #012970;
    padding: 0 15px;
    height: 92px;
    width: 500px;
    margin: 8px 0;
    resize: none;
}

textarea{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #012970;
    border-radius: 5px;
    border: 1px solid #012970;
    padding: 0 15px;
    height: 92px;
    width: 500px;
    margin: 8px 0;
    resize: none;
}

.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field select,
.input-field input[type="date"]{
    color: #012970;
}

.input-field input[type="date"]:valid{
    color: #012970;
}

.container form button, .submit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;   
    background-color: #F37631;
}

.container form .btnText{
    font-size: 14px;
    font-weight: 600;
}

form button:hover{
    background-color: #EA6631;
}

@media (max-width: 750px) {
    .container form::-webkit-scrollbar{
       display: none;
    }

    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
    
    .container form::-webkit-scrollbar{
       display: none;
    }
}
/*--------------------------------------------- select de iconos ------------------------------------------------- */
.select-sim {
    width: 200px;
    height: 42px;
    line-height: 22px;
    vertical-align: middle;
    position: relative;
    border-radius: 5px;
    border: 1px solid #012970;
    overflow: hidden;
    margin: 8px 0;
}

.select-sim::after {
    content: "▼";
    color: #012970;
    font-size: 1em;
    font-family: arial;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
}

.select-sim:hover::after {
    content: "";
}

.select-sim:hover {
    overflow: visible;
}

.select-sim:hover .options .option .label {
    display: inline-block;
    margin-left: 5%;
    font-size: 14px;
}

.select-sim:hover .options {
    background: white;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 95px;
    border-radius: 5px;
    border: 1px solid #012970;
    overflow-y: scroll;
}

.select-sim .options .option {
    overflow: hidden;
}

.select-sim:hover .options .option {
    height: 35px;
    overflow: hidden;
}

.select-sim .options .option .img {
    vertical-align: middle;
}

.select-sim .options .option .label {
    display: none;
    font-size: 14px;
}

.select-sim .options .option .input {
    width: 0;
    height: 0;
    overflow: hidden;       
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;        

    position: absolute;
    left: -10000px;
}

.select-sim .options .option .input:checked+.label {
    display: block;
    width: 100%;
}

.select-sim:hover .options .option .input+.label {
    display: block;
}

.select-sim:hover .options .option .input:checked+.label {
    background: #fffff0;
}