.btn-warning {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #db812d;
    --bs-btn-border-color: #db812d;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #dc781a;
    --bs-btn-hover-border-color: #dc781a;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #db812d;
    --bs-btn-active-border-color: #db812d;;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #db812d;
    --bs-btn-disabled-border-color: #db812d;
}