/* Estilos del modal */
.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
/* Cabecera del Modal */
.modal-header {
    padding: 2px 16px;
    background-color: #f37731;
    color: white;
}

/* Cuerpo del Modal */
.modal-body {
    padding: 2px 16px;
}
/* Contenido del modal */
.modal-content {
    position: relative; 
    background-color: white;
    margin: auto; 
    width: 50%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Estilos del boton */
.close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
}
/* Hover del boton */
.close-btn:hover {
    color: darkgray;
}

/* Animaciones del modal */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}